{% extends "base.html" %}
{% load static %}

{% block title %}Safety - Graphs - MAST{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2 class="mb-4">Safety - Weather Graphs</h2>
    
    <div class="card">
        <div class="card-body p-0">
            <iframe src="{{ grafana_url }}" 
                    width="100%" 
                    height="800" 
                    frameborder="0"
                    style="border: none;">
            </iframe>
        </div>
    </div>
</div>
{% endblock %}
