{% extends 'base.html' %}

{% block title %}Dashboard - MAST GUI{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-5 text-center">
        <h2 class="mb-3">Welcome to the <b>MAST</b> Project's</h2>
        <p class="lead text-muted mb-4">
            control and observation management system.<br>
            <br>
            To get started, either:<br>
              Sign in (if you already have an account) or<br>
              Sign up to apply for a new account.
            </ul>
        </p>
        <div class="d-flex gap-3 justify-content-center">
            <a href="{% url 'account_login' %}" class="btn btn-primary btn-lg">Sign In</a>
            <a href="{% url 'signup' %}" class="btn btn-outline-primary btn-lg">Sign Up</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
